<!-- Album Art Modal -->
<div id="albumArtModal" class="modal album-art-modal" style="display: none;">
    <div class="modal-content album-art-modal-content">
        <button class="album-art-close" id="closeAlbumArtModal">&times;</button>
        <div class="album-art-display">
            <img id="albumArtModalImage" src="" alt="Album Art">
        </div>
        <div class="album-art-info">
            <div class="album-art-title" id="albumArtModalTitle">Track Title</div>
            <div class="album-art-artist" id="albumArtModalArtist">Artist Name</div>
            <div class="album-art-album" id="albumArtModalAlbum">Album Name</div>
        </div>
    </div>
</div>

